<div class="title">
    <h1 class="display-4">day #{{ entry.day_no }}:</h1>
    <h2 class="title-subtext">How You Can Improve</h2>
</div>
<div class="title-separator"></div>
<div class="row">
    <div class="col-lg-4">
        <p class="explanation-text">
            An important part of our personal growth is reflecting regularly on what we can do better.
            Think of a situation today that you might improve upon should you encounter it again.
        </p>
        <div class="text-separator"></div>
    </div>
    <div class="col-lg-8">
        <div class="deed-adventure-entry">
        </div>
        <form class="deed-adventure-form">
            <textarea class="form-control good-input deed-adventure-form-input" rows="7" placeholder="Write a few words about how you could improve next time"></textarea>
            <button type="submit" class="btn btn-primary good-submit deed-adventure-form-button">Done</button>
        </form>
    </div>
</div>
<div class="page-bottom">
    <button type="submit" class="btn btn-primary" id="page-submit">done</button>
</div>