<div class="title">
    <h1 class="display-4">Welcome!</h1>
</div>
<div class="title-separator"></div>
<h3 class="subtitle">Thanks for joining diarize :-)</h3>
<p>
    diarize is a daily planner like no other. Harnessing the power of positive psychology it seeks to make you a happier, generally more well-rounded person.
</p>
<p>
    Today, we hear a lot about mental health and the various issues that many folk struggle with. We think of psychology focusing on these folk; trying to take someone struggling with one or condition or another, and make them better. But what about folk that don’t suffer with mental health problems - is there anything psychology can teach us that might help them? As it happens, there is! 
</p>
<p>
    Positive psychology focuses on things that can take an otherwise healthy mind and make it happier. Turns out, happiness is something you can teach yourself! Madness, we know. But true nonetheless. It’s all down to perspective. Well, perspective and planning. Well, actually perspective, planning and reflection. Yep, that’s it.
</p>
<p>
    As the name suggests, diarize takes the form of a diary (shockingly) in which you complete different planning and reflection activities. It’s broken down into two main sections: 1) Planning and 2) Reviewing your day. As should hopefully be obvious, the planning section is intended to be completed at the beginning of the day and the reviewing at the end. 
</p>
<div class="page-bottom">
    <button type="submit" class="btn btn-primary" id="page-submit">Let's take a look....</button>
    <button type="submit" class="btn btn-danger" id="skip-intro">Skip Intro</button>
</div>