<div class="title">
    <h1 class="display-4">Great things that happened today</h1>
</div>
<div class="title-separator"></div>
<p>
    This section invites you to think about all the great stuff that happened to you today. Much like the gratefulness section in the plan stage, this invites you to be happy about all the experiences you’ve had throughout the day and end on a high.
</p>
<p>
    First you’ll be asked if you completed your mini-adventure. Hopefully that will be something you’ll want to remember and that you enjoyed, as that’s kind of the point! Again, don't be too concerned if you don't complete your adventure. After all, plans change from time to time.
</p>
<p>
    After that, you’ll be invited to add other fab things that happened throughout the day. Like before, the trick here is being as specific as possible. You can put literally anything - something as grand as being awarded a degree, or as small as your friend sneezing in a funny way. The main thing is that it was ace and that you want to remember it! Take the following examples:
</p>
<div class="example-goals">
    <div class="goal-entry">
        <p class="goal-text">
            Had a really tasty cookie baked by my friend at work
        </p>
    </div>
    <div class="goal-entry">
        <p class="goal-text">
            I got really good feedback on the report it took me a week to write
        </p>
    </div>
    <div class="goal-entry">
        <p class="goal-text">
            Took the dog on a really nice walk by the river
        </p>
    </div>
</div>
<div class="page-bottom">
    <button type="submit" class="btn btn-primary" id="page-submit">Take a look....</button>
</div>