<div class="title">
    <h1 class="display-4">Your Goals</h1>
</div>
<div class="title-separator"></div>
<p>
    You might think that having only a ‘be happy with what you have’ approach might lead to a pretty lacklustre approach to achieving your goals. Well not if you plan for those too!
</p>
<p>
    We’ve all been in positions where we don’t really plan to make the most of our time and just let a lot of it pass unconsciously as a result. But by focusing on what we really want to get done on a daily basis, we can ensure we make the most of each day. Chances are we’ll enjoy our days more as a happy side effect too.
</p>
<p>
    The goals section of the plan asks you to add one or more things you hope to achieve with your day. It’s important that you focus on the impact and outcomes of these tasks - that’s why you’re asked not only what your planning, but why you want to achieve that. Your goals can be big or small, like the examples below - just make sure that they are important to you:
</p>
<div class="example-goals">
    <div class="goal-entry">
        <p class="goal-text">I’ll go for a run this morning</p>
        <p class="goal-reason-text">So that I start the day feeling healthy and energized</p>
    </div>
    <div class="goal-entry">
        <p class="goal-text">I’ll set some time aside to work on my pet-project</p>
        <p class="goal-reason-text">So I feel productive and creative</p>
    </div>
    <div class="goal-entry">
        <p class="goal-text">I’ll avoid eating any snacks from the break room</p>
        <p class="goal-reason-text">So I don’t spoil my diet and feel lethargic</p>
    </div>
</div>
<p>
    Make sure you give each item some decent thought so you properly internalise your aims for the day - that way, you start already halfway towards achieving them! Now’s your turn:
</p>
<div class="page-bottom">
    <button type="submit" class="btn btn-primary" id="page-submit">Give it a go...</button>
</div>