<div class="title">
    <h1 class="display-4">day #{{ day_no }}:</h1>
    <h2 class="title-subtext">Review Your Goals</h2>
</div>
<div class="title-separator"></div>
<div class="row">
    <div class="col-lg-4">
        <p class="explanation-text">
            The first review section displays the items from your goals at the beginning of the day and asks you to select which you have completed. Easy right? The aim here is for you take a moment to appreciate having completed any goals you set out with.
        </p>
        <p class="explanation-text">
            The entries to the right / below should hopefully look familiar. By clicking on an entry you can mark it as complete - give it a go!  
        </p>
        <div class="text-separator"></div>
    </div>
    <div class="col-lg-8 goal-entries">
    </div>
</div>
<div class="page-bottom">
    <button type="submit" class="btn btn-primary" id="page-submit">Done</button>
</div>