<div class="title">
    <h1 class="display-4">Gratefulness</h1>
</div>
<div class="title-separator"></div>
<p>
    A common criticism of us modern folk is that, ever in pursuit of more and more ‘stuff’, we’re hard-wired to never be satisfied with what we have. Our focus is always on how the present could be better. With this kind of a mindset, we’re never satisfied. Nothing is ever enough. 
</p>
<p>
    A simple exercise to combat this is to spend some time thinking about what we are grateful for. This shifts our perspective so that we are happier with what we already have. Then we can only ever have more. Great eh?
</p>
<p>
    The first section of your day plan invites you to think about 3 things you’re grateful for. There’s some proper science that says doing this daily (or as often as possible) makes a marked difference on your outlook and overall happiness. For example you could put:
</p>
<ul class="grateful-examples">
    <li>
        <b>1. </b>The smell of my morning coffee as it’s brewing
    </li>
    <li>
        <b>2. </b>The terrible jokes my workmate makes
    </li>
    <li>
        <b>3. </b>The awesome music my favourite artist makes
    </li>
</ul>
<p>
    Try and give it some real thought and actually feel grateful before adding anything. Be as specific as possible - that way you’ll begin to appreciate even the smallest things and never struggle for inspiration.
</p>
<div class="page-bottom">
    <button type="submit" class="btn btn-primary" id="page-submit">Give it a go...</button>
</div>