<div class="title">
    <h1 class="display-4">How could you improve?</h1>
</div>
<div class="title-separator"></div>
<p>
        As with everything, there’s always room for improvement. This section asks you to think of something or things that you could do better. Maybe you could think about the goals you weren’t able to complete and the reasons for that. Or maybe you could think about something else that you could add to your goals for another day. 
</p>

<p>
        Take a look at the following examples:
</p>
<div class="example-goals">
    <div class="goal-entry">
        <p class="goal-text">I’ll set time aside to go over my email inbox so I can fully focus on the tasks I have to complete throughout the day</p>
    </div>
    <div class="goal-entry">
        <p class="goal-text">I’ll bring fruit with me to work so I’m not tempted to buy junk food from the vending machine</p>
    </div>
    <div class="goal-entry">
        <p class="goal-text">I’ll make a point of thanking my partner for the meals they prepare so they are aware that I’m grateful and don’t just take them for granted</p>
    </div>
</div>
<div class="page-bottom">
    <button type="submit" class="btn btn-primary" id="page-submit">Have a go...</button>
</div>