<div class="title">
    <h1 class="display-4">Your Good Deed(s)</h1>
</div>
<div class="title-separator"></div>
<p>
        This section asks you to reflect on the good you did in the day, starting with the deed 
        you set out with and weather or not you did it. Don’t worry if you didn’t manage, that’s bound to happen from time to time as life gets in the way of all our best laid plans. 
</p>
<p>
        If you didn’t manage to complete your good deed, you’ll be asked to think of another that you did that day. You will definitely have done something no matter how small - it could be smiling at someone, holding a door, saying hi, anything really.
</p>
<p>
        You’re then asked to think about the impact your good deed had. The hope here is that you’ll get to feel all those fuzzy warm feelings of having done something for someone else all over again. So, an example could be that you had said thank you to a friend for their help: you might then say this made them feel appreciated. 
</p>
<div class="page-bottom">
    <button type="submit" class="btn btn-primary" id="page-submit">Take a look....</button>
</div>