<div class="title">
    <h1 class="display-4">Plan an Adventure</h1>
</div>
<div class="title-separator"></div>
<p>
        As with the good deed, think of this as a subsection of your overall goals for the day.
</p>

<p>
        Have you ever noticed how ingrained a routine gets? The thing about routines is that, though they help us be productive and get things done efficiently, they aren't all that exciting! 
</p>
        
<p>
        If we think about it, there are periods of our life where time seems to fly past with little recollection, and times when we can remember things in almost minute detail. I’ll bet the memorable times will involve a break of routine or something out of the ordinary happening. 
</p>
        
<p>
        Whilst it probably wouldn’t be practical to wildly change our routines every day, we can easily invite a little adventure into each day. This section of your day’s plan asks you to do just that. Plan something out of the ordinary to do with your day that you can consider a ‘mini-adventure’. 
</p>
        
<p>
        It can be as tiny as taking a different route to work, or sitting with a different person at lunch. Try to make it something different and outside of your usual routine or, even better, your comfort zone. Take the following as examples.
</p>
<div class="example-goals">
    <div class="goal-entry">
        <p class="goal-text">I'll use my lunch break to walk to the park near work</p>
    </div>
    <div class="goal-entry">
        <p class="goal-text">I'll give my friend from university a call and ask how they’re doing</p>
    </div>
    <div class="goal-entry">
        <p class="goal-text">I'll take a new class at the gym</p>
    </div>
</div>
<div class="page-bottom">
    <button type="submit" class="btn btn-primary" id="page-submit">Have a go...</button>
</div>