<div class="title">
    <h1 class="display-4">Do Some Good</h1>
</div>
<div class="title-separator"></div>
<p>
        This and the next section can be thought of as subsection of your goals for the day. 
<p>

<p>
        Almost all of us are aware that doing things for other people makes us feel really good.
</p>
<p>
        In fact, there’s some strong science that says we feel happier passing on things to others than we do receiving the same things ourselves. Unfortunately, we’re usually too consumed getting on with our own lives to really take advantage of this.
</p>
        
<p>
        By taking a moment to think of something good we can do for others, we can take some of the focus away from ourselves and reap some of those good-doing vibes. It really doesn’t have to be anything all that dramatic. Just something that keeps you feeling that you’re having a positive impact on those around you. 
</p>
<p>
        Trust us - it feels ace. 
</p>    
<p>
        The following are some good examples:
</p>
<div class="example-goals">
    <div class="goal-entry">
        <p class="goal-text">take an extra moment to speak to a cashier or server and ask how their day is going / thank them for their help</p>
    </div>
    <div class="goal-entry">
        <p class="goal-text">Send an email to thank a colleague for the work they did on a project you’ve both been working on</p>
    </div>
    <div class="goal-entry">
        <p class="goal-text">Contact a friend who has recently moved house and ask if they need help with anything</p>
    </div>
</div>
<div class="page-bottom">
    <button type="submit" class="btn btn-primary" id="page-submit">Have a go...</button>
</div>