<div class="title">
    <h1 class="display-4">Review Your Day</h1>
</div>
<div class="title-separator"></div>
<p>
    Once the day is over, you can take a moment to reflect on the days events. By spending a little time in self-reflection, you can focus on your successes, taking these forwards whilst being aware of anything you can improve on for next time. Of course, this is usually intended to be done once the day is over, but for now you can have a play around with the different sections - you'll be given the chance to start your first day once you're done with the intro.
</p>
<div class="page-bottom">
    <button type="submit" class="btn btn-primary" id="page-submit">Take a look....</button>
</div>