<div class="title">
    <h1 class="display-4">Plan Your Day</h1>
</div>
<div class="title-separator"></div>
<p>
    How many of your days do you really think you get the most out of? As in really squeeze out every drop of juicy potential? Oftentimes, the majority of us will find ourselves passing days, or even weeks on autopilot without much concern for anything but getting through the day.
</p>
    
<p>
    There are a few really quick exercises we can do to really get the most out of our days. That is, to shift our perspective so that we appreciate more of the day-to-day as it happens, and to make the most of our time. 
</p>
    
<p>
    The plan section of diarize is separated into four sections, each comprising of an activity that, with time, will help you make the most of your time and be a good deal happier as a result.
</p>
<div class="page-bottom">
    <button type="submit" class="btn btn-primary" id="page-submit">Let's get started!</button>
</div>