<div class="title">
    <h1 class="display-4">day #{{ day_no }}:</h1>
    <h2 class="title-subtext">Do Some Good</h2>
</div>
<div class="title-separator"></div>
<div class="row">
    <div class="col-lg-4">
        <p class="explanation-text">
            We get a real boost out of connecting with others and doing things for other people. 
            Consider something small (or big!) that you can do today to make someone else's day better.
        </p>
        <div class="text-separator"></div>
    </div>
    <div class="col-lg-8">
        <div class="deed-adventure-entry">
        </div>
        <form class="deed-adventure-form">
            <textarea class="form-control good-input deed-adventure-form-input" rows="7" placeholder="Plan a good deed here"></textarea>
            <button type="submit" class="btn btn-primary good-submit deed-adventure-form-button">Done</button>
        </form>
    </div>
</div>
<div class="page-bottom">
    <button type="submit" class="btn btn-primary" id="page-submit">Done</button>
</div>