<div class="title">
    <h1 class="display-4">day #{{ day_no }}:</h1>
    <h2 class="title-subtext">Do Something Different</h2>
</div>
<div class="title-separator"></div>
<div class="row">
    <div class="col-lg-4">
        <p class="explanation-text">
            Breaking out of routine and doing something can provide a sense of adventure and energy
            to a day. Take a moment to think of something out of the ordinary you can do today.
        </p>
        <div class="text-separator"></div>
    </div>
    <div class="col-lg-8">
        <div class="deed-adventure-entry">
        </div>
        <form class="deed-adventure-form">
            <textarea class="form-control good-input deed-adventure-form-input" rows="7" placeholder="Plan to do something different or out of the ordinary today"></textarea>
            <button type="submit" class="btn btn-primary good-submit deed-adventure-form-button">Done</button>
        </form>
    </div>
</div>
<div class="page-bottom">
    <button type="submit" class="btn btn-primary" id="page-submit">Done</button>
</div>